<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-right-left"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/products">
			<i class="icon ion-document-text"></i>
			Produkt informatie
        </ion-item>
		<ion-item nav-clear menu-close class="item-icon-left" href="#/app/diary">
			<i class="icon ion-document-text"></i>
			Dagboek
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/settings">
			<i class="icon ion-settings"></i>		
			Settings
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="deleteSession()">
			<i class="icon ion-locked"></i>		
			Uitloggen
        </ion-item>				
      </ion-list>
    </ion-content>
  </ion-side-menu>
  
</ion-side-menus>
