<ion-view title="Dagboek" hideBackButton=true>
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<form>
			<div class="list card">
				<label class="item item-input">
					<span class="input-label">Datum</span>
					<input type="date" ng-model="diaryInput.diaryDate">
				</label>
			</div>
		</form>
		
		<div class="list">
			<div class="item item-avatar">
				<h2>Streefwaarden</h2>
				<p>{{diary.totals[0].type}}: {{diary.totals[0].total}}, {{diary.totals[1].type}}: {{diary.totals[1].total}}, {{diary.totals[2].type}}: {{diary.totals[2].total}}</p>
			</div>
			<div class="item item-avatar">
				<h2>Totaal deze dag</h2>
				<p>Kcal: {{ diary.actuals.totalKcal }}, Eiwit: {{diary.actuals.totalProtein}}, Koolhydraten: {{diary.actuals.totalCarbon}}, Vet: {{diary.actuals.totalFat}}</p>
			</div>
			<div>
				<a class="item item-avatar" ng-repeat="item in diary.result" ng-click="blabla(item)">
					<img src="http://localhost:5000/img/{{no_image_available}}"/>
					<h2>{{item.product}}</h2>
					<p>Kcal: {{ item.totalKcal }}, Eiwit: {{item.totalEiwit}}, Koolhydraten: {{item.totalKoolh}}, Vet: {{item.totalVet}}</p>
				</a>
			</div>
		</div>		
	</ion-content>
</ion-view>