<ion-view title="Foodnotes">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#/app/register"> 
			<button class="button button-icon icon ion-person-add">Registreren</button>
		</a>
		<a href="#/app/login">
			<button class="button button-icon icon ion-unlocked">Inloggen</button>
		</a>
	</ion-nav-buttons>
  
	<ion-content class="has-header">
	</ion-content>
</ion-view>