<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/diary">
			<i class="icon ion-document-text"></i>
			Dagboek
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/settings">
			<i class="icon ion-settings"></i>		
			Settings
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/login">
			<i class="icon ion-unlocked"></i>		
			Inloggen
        </ion-item>		
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="deleteSession()">
			<i class="icon ion-locked"></i>		
			Uitloggen
        </ion-item>				
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/register">
			<i class="icon ion-person-add"></i>		
			Registreer
        </ion-item>		
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
